<div class="container">
	<form  src='/secure/add_folder' method='POST' class="well">
		<div class="form-group">
	          <label for="foldername">Folder Name:</label>
	          <input name="folderName" type="text" class="form-control" id="foldername" placeholder="In construccion" required>
	    </div>
	    <p >
			<br/>
			<input name="save" class="btn btn-primary" type='submit' value='Save' />
			<input name="cancel" class="btn btn-primary" type='submit' value='Cancel' />
		</p>
	</form>
</div>