<div class="container">
	<form  id="pictureform" src='/secure/load_file<%=@root_folder%>' method='POST' enctype='multipart/form-data' class="well"
    data-bv-feedbackicons-valid="glyphicon glyphicon-ok"
    data-bv-feedbackicons-validating="glyphicon glyphicon-refresh">
		<div class="form-group">
		  <span>*Please select jpeg or png file less than 2 MB</span>
		  <br>
          <label for="picturetoupload">File:</label>
          <input name="picturetoupload" type="file" class="filestyle" id="picturetoupload" data-buttonName="btn-primary" required 
				data-bv-file="true"
                data-bv-file-extension="jpeg,png"
                data-bv-file-type="image/jpeg,image/png"
                data-bv-file-maxsize="2097152"
                data-bv-file-message="The selected file is not valid, please select jpeg or png file less than 2 MB"
          />
    	</div>
    	<div class="form-group">
	          <label for="displayname">Display Name:</label>
	          <input name="displayname" type="text" class="form-control" id="displayname" placeholder="In construction">
	    </div>
	    <div class="form-group">
	          <label for="tags">Tags:</label>
	          <br>
	          <input name="tags" type="text" class="form-control" id="tags" data-role="tagsinput">
	    </div>
		<p >
		<br/>
			<input name="upload" class="btn btn-primary" type='submit' value='Upload' />
			<input name="cancel" class="btn btn-primary" type='button' value='Cancel' onclick="location='/secure/gallery<%=@root_folder%>'" />
		</p>
		<script>
			$(document).ready(function() {
   			 	$('#pictureform').bootstrapValidator();
			});

		</script>
	</form>
</div>